<% singular = @resource.singularize -%>
%p
  Thanks for Joining #{@site_name}!
  %br
  Your account login is: #{@email}
  %br
  You can access your account at: #{link_to(<%= singular %>_root_url,<%= singular %>_root_url)}
  %br
  If the above URL does not work try copying and pasting it into your browser.  If you continue to have problem please feel free to contact us.
  %br
  Thank You,
  #{@site_salutation}
  #{link_to(root_url, root_url)}